html,
body {
    box-sizing: border-box;

    color: #ffffff;
    font-family: "IBM Plex Mono", "Manrope" ,sans-serif;
    font-weight: 400;
    letter-spacing: -0.03em; 

}

header {
    margin: 0 auto;
    height: 765px;
    padding: 27px 124px 0px 123px;
    background-image: url(../recources/fullScreenHeader.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

 

.header-container {
    width: 1153px;
    margin: 0 auto;
    margin-bottom: 252px;
}

.nav-logo-1 {
    margin-top: 9px;
    margin-bottom: 7px;
}


.nav-logo {
    position: absolute;
    left: 135px;
    top: 39px;
}

.header-container nav {
    float: right;
}

.nav-link {
    margin-right: 50px;

    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
} 

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: #1bff07;
}

header p {
    width: 430px;
    margin-left: 2px;
    margin-bottom: 29px;

    font-size: 20px;
    color: #d9d9d9;
}

header h1 {
    width: 919px;
    margin-bottom: 94px;
    letter-spacing: -0.03em;

    color: #1bff07;
    -webkit-text-stroke: 1px black;
    font-size: 80px;
    line-height: 87%;
}

h1 {
    text-str
}